AI Receptionist n8n Workflows/Client Lookup.json
{
  "name": "Client Lookup",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -16
      ],
      "id": "e463fcf7-f76f-4dca-8005-c13ddb5500b5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE",
          "mode": "list",
          "cachedResultName": "Hercules Detailing CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -16
      ],
      "id": "efdafb89-9887-4c91-9d08-8e06eeee9b28",
      "name": "Client Lookup",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjJ9PbCDOkVNZZRJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92b8d39f-ffdc-4bfe-9477-576907a28ac3",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -16
      ],
      "id": "db0c67f7-f1c0-427c-a51f-11606de0bbf8",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE",
          "mode": "list",
          "cachedResultName": "Hercules Detailing CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2008710317,
          "mode": "list",
          "cachedResultName": "Appointment Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AgDO-r3qUk8y2HoYW8pw13dkkyHLqf1XB93ou9nGBE/edit#gid=2008710317"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -112
      ],
      "id": "7aa0a96a-1c58-4ab0-95ac-d13e3fe156cc",
      "name": "Get Info",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjJ9PbCDOkVNZZRJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ca6414a-39cb-4ee9-8250-f753f14ebf35",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -112
      ],
      "id": "a2955f15-27d7-44ba-816c-1bd7703b0591",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b134f4e0-755d-46ca-aed5-0ac130407bd7",
              "name": "message",
              "value": "This client exists in the CRM. However, he or she has no previous appointments with Hercules detailing.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -16
      ],
      "id": "d5dcee2b-3ac4-4749-952b-b920069305a8",
      "name": "Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c8dc1cb-0b90-4363-b0c9-e86713560ef0",
              "name": "message",
              "value": "This is a new client, they don't exist in the CRM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        80
      ],
      "id": "656f7436-0590-4b28-976c-5391b9a9e70f",
      "name": "New Client Message"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Client Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Lookup": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Client Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "697e876c-fb45-4d11-b46c-0434403007f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39"
  },
  "id": "95ciugqZHL8X2dqX",
  "tags": [
    {
      "updatedAt": "2025-12-04T17:30:07.899Z",
      "createdAt": "2025-12-04T17:30:07.899Z",
      "id": "VJ2tq4FyVo3uEeSS",
      "name": "Vapi MCP"
    }
  ]
}